* text=auto eol=lf

*.bat text eol=crlf

gradlew text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.jar binary
*.keystore binary
*.jks binary
*.apk binary
*.aab binary
